.backdrop {
  background-color: #18739a;
  width: 100%;
  height: 100%;
  padding: 140px 200px 0 200px;
}

.container {
  background-color: #b3c5cd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .backdrop {
    padding: 140px 100px 0 100px;
  }
}
@media (max-width: 1400px) {
  .container {
    border-radius: 0;
  }
  .backdrop {
    padding: 0 0 0 0;
  }
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: min(100%, 1000px);
}

.content {
  overflow-y: auto;
  width: 100%;
}

.contentContainer {
  margin-inline: auto;
  padding: 69px 200px 69px 200px;
  max-width: 1600px;
}
@media (max-width: 1000px) {
  .contentContainer {
    padding: 69px 20px 69px 20px;
  }
}
